<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <system.web>
    <trace enabled="true" requestLimit="40" localOnly="false" />
    <identity impersonate="true" />
  </system.web>
  <connectionStrings>
    <add name="NigeriaConnectionString" connectionString="Data Source=WINDOWS-806OHSM;Initial Catalog=Cerpac;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="connectionstring" connectionString="Data Source=WINDOWS-806OHSM;Initial Catalog=Cerpac;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="NigeriaConnectionstring1" connectionString="Data Source=WINDOWS-806OHSM;Initial Catalog=Cerpac;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="en-US" uiCulture="de-DE" />
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="stdole, Version=7.0.3300.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Runtime.Remoting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Drawing.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
      <buildProviders>
        <!--<add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />-->
      </buildProviders>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms defaultUrl="User/default.aspx" loginUrl="~/Login.aspx" slidingExpiration="true" timeout="20">
      </forms>
    </authentication>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />tomw
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        
        -->
    <customErrors mode="Off" defaultRedirect="Login.aspx">
    </customErrors>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false" />
	
	   <remove verb="*" path="*.asmx" />
      <add verb="POST,GET" path="ajax/*.ashx" type="Ajax.PageHandlerFactory, Ajax" />
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />

    </httpHandlers>
	  
	   <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </httpModules>
	  
    <httpRuntime executionTimeout="110" maxRequestLength="11264" requestLengthDiskThreshold="80" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="5000" enableKernelOutputCache="true" enableVersionHeader="true" requireRootedSaveAsPath="true" enable="true" shutdownTimeout="90" delayNotificationTimeout="5" waitChangeNotification="0" maxWaitChangeNotification="0" enableHeaderChecking="true" sendCacheControlHeader="true" apartmentThreading="false" />
    <sessionState timeout="60" mode="InProc">
    </sessionState>
    <authorization>
      <allow users="?" />
            <allow users="*" verbs="GET" />
            <allow users="*" verbs="POST" />
    </authorization>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <location allowOverride="true">
    <system.net>
      <mailSettings>
        <smtp from="no-reply@no-reply.com">
          <network host="smtp.gmail.com" password="gourav1234" port="25" userName="gourav.btpl@gmail.com" enableSsl="true" />
        </smtp>
      </mailSettings>
    </system.net>
    <appSettings>
      <add key="UploadFilePath" value="~/Uploaded Documents/" />
      <add key="IndexPath" value="~/DocumentsIndex/" />
      <add key="ValidExtensions" value=".pdf,.doc,.docx,.txt,.csv,.jpg,.gif,.xls,.xlsx,.rtf,.sxw,.odt,.ppt,.pps,.csv,.ods,.jpeg,.png,.DOC,.JPG,.GIF,.PNG,.DOCX,.TXT,.XLS,.XLSX,.PPT,.mdi" />
      <add key="ValidScanImgExtensions" value=".pdf,.jpg,.gif,.jpeg,.png,.JPG,.GIF,.PNG,.mdi" />
      <add key="ValidlogoExtensions" value=".jpg,.jpeg,.JPG,.JPEG," />
      <!-- Max Size Of File to be uploaded in Bytes(Here Defined 10MB)-->
      <add key="MaxFileSize" value="10485760" />
      <!-- Max Size Of logo to be uploaded in Bytes(Here Defined 3 MB)-->
      <add key="MaxLogoSize" value="3145728" />
      <add key="LogoPath2" value="~/Images/Logo/" />
      <add key="LogoPath" value="~/approvals/" />
      <add key="XMLPath" value="~/XML/" />
      <add key="MaxLogoHeight" value="3000" />
      <add key="MaxLogoWidth" value="3000" />
      <add key="MinLogoHeight" value="24" />
      <add key="MinLogoWidth" value="24" />
      <!-- Fixed Size Of logo to be uploaded -->
      <add key="FixLogoWidth" value="240" />
      <add key="FixLogoHeight" value="240" />
      <add key="DaysLapse" value="400"/>
      <add key="LogoUrl" value="~/Images/Logo/" />
      <add key="port" value="25" />
      <add key="password" value="gourav1234" />
      <add key="enableSsl" value="true" />
      <add key="Email.Smtp" value="Smtp.gmail.com" />
      <add key="Email.Sender" value="gourav.btpl@gmail.com" />
      <add key="VirDirectory" value="/OVPS/" />
      <add key="link" value="http://202.87.33.39/OVPS/FrmVerify.aspx" />
      <add key="VirDirectoryLink" value="http://202.87.33.39:239/OVPS/" />
      <add key="ReportPath" value="C:\inetpub\wwwroot\OVPS" />
      <add key="PDFPath" value="C:/Personal/P/OVPS/OVPS/Images/PDF/" />
      <add key="logoimagepath" value="C:\Cerpac\OVPS\Images\" />
      <add key="generalpath" value="http://192.168.1.11/" />
            <add key="Reports" value=".rdlc" />
      <add key="qualuser" value="1212"/> 
     <add key="IPAddress" value="192.168.1.115"/>
    </appSettings>
  </location>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <defaultDocument>
      <files>
        <add value="Login.aspx" />
      </files>
    </defaultDocument>
  <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>
        <directoryBrowse enabled="true" />
        <security>
            <requestFiltering>
                <fileExtensions>
                    <add fileExtension=".rdlc" allowed="true" />
                </fileExtensions>
                <alwaysAllowedUrls>
                    <add url="//192.168.1.10:80" />
                </alwaysAllowedUrls>
            </requestFiltering>
        </security>
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
        </httpErrors>
  </system.webServer>
</configuration>