<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <connectionStrings>
    <add name="connectionstring" connectionString="Server=contec;Database=NigeriaLatest;Uid=sa;Pwd=C0Nt3C;" providerName="System.Data.SqlClient" />
    <!--<add name="connectionstring" connectionString="Server=DILIP-PC\DILIP;Database=Nigeria;Uid=sa;Pwd=rensol;" providerName="System.Data.SqlClient" />-->
    <add name="NigeriaConnectionstring1" connectionString="Server=contec;Database=NigeriaLatest;Uid=sa;Pwd=C0Nt3C;" providerName="System.Data.SqlClient" />

  </connectionStrings>
  <system.web>
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="en-US" uiCulture="de-DE" />
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true">
      <assemblies>
        <add assembly="stdole, Version=7.0.3300.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="Microsoft.ReportViewer.Common, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Runtime.Remoting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Drawing.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms defaultUrl="User/default.aspx" loginUrl="~/Login.aspx" slidingExpiration="true" timeout="20">
      </forms>
    </authentication>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        
        -->
   <customErrors mode="Off"/>
    </customErrors>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false" />
    </httpHandlers>
    <httpRuntime executionTimeout="110" maxRequestLength="11264" requestLengthDiskThreshold="80" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="5000" enableKernelOutputCache="true" enableVersionHeader="true" requireRootedSaveAsPath="true" enable="true" shutdownTimeout="90" delayNotificationTimeout="5" waitChangeNotification="0" maxWaitChangeNotification="0" enableHeaderChecking="true" sendCacheControlHeader="true" apartmentThreading="false" />
    <sessionState timeout="60" mode="InProc">
    </sessionState>
    <authorization>
      <allow users="?" />
    </authorization>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <location allowOverride="true">
    <appSettings>
      <add key="UploadFilePath" value="~/Uploaded Documents/" />
      <add key="IndexPath" value="~/DocumentsIndex/" />
      <add key="ValidExtensions" value=".pdf,.doc,.docx,.txt,.csv,.jpg,.gif,.xls,.xlsx,.rtf,.sxw,.odt,.ppt,.pps,.csv,.ods,.jpeg,.png,.DOC,.JPG,.GIF,.PNG,.DOCX,.TXT,.XLS,.XLSX,.PPT,.mdi" />
      <add key="ValidScanImgExtensions" value=".pdf,.jpg,.gif,.jpeg,.png,.JPG,.GIF,.PNG,.mdi" />
      <add key="ValidlogoExtensions" value=".jpg,.jpeg,.gif,.png,.JPG,.JPEG,.GIF,.PNG" />
      <!-- Max Size Of File to be uploaded in Bytes(Here Defined 10MB)-->
      <add key="MaxFileSize" value="10485760" />
      <!-- Max Size Of logo to be uploaded in Bytes(Here Defined 240KB)-->
      <add key="MaxLogoSize" value="20932150" />
      <add key="LogoPath" value="~/Images/Logo/" />
      <add key="XMLPath" value="~/XML/" />
      <add key="MaxLogoHeight" value="1024000" />
      <add key="MaxLogoWidth" value="1024000" />
      <!-- Fixed Size Of logo to be uploaded -->
      <add key="FixLogoWidth" value="240" />
      <add key="FixLogoHeight" value="240" />
      <add key="LogoUrl" value="~/Images/Logo/" />
      <add key="Email.Smtp" value="127.0.0.1" />
      <add key="Email.Sender" value="contact@rensys.net" />
      <add key="VirDirectory" value="/OVPS/" />
      <add key="link" value="http://202.87.33.39/NigeriaLatest/OVPS/FrmVerify.aspx" />
      <add key="VirDirectoryLink" value="http://202.87.33.39/NigeriaLatest/" />
      <add key="ReportPath" value="http://202.87.33.39/NigeriaLatest/OVPS/Login.aspx" />
      <add key="PDFPath" value="C:/Personal/P/OVPS/OVPS/Images/PDF/" />
    </appSettings>
  </location>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=12.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>
    <defaultDocument>
      <files>
        <add value="Login.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>